* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#app {

}

#game-menu {
  width: 250px;
  padding: 20px;
  background-color: black;
  border: solid white 4px;
}

.menu-button {
  width: 100%;
  height: 50px;
  margin: 5px 0;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border: solid white 2px;
}

#game-score {
  width: 200px;
  height: 50px;
  background-color: black;
  border: solid white 1px;
  color: white;
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 8px;
  text-align: center;
}